"*":
  "exception-reporting":
    userId: "875c8ea1-746b-6f37-f3a9-0736203d8a32"
  welcome:
    showOnStartup: false
  minimap: {}
  localization:
    CurrentLanguage: "Default"
  core: {}
  editor:
    invisibles: {}
    fontSize: 20
    showIndentGuide: true
    softWrap: true
    scrollPastEnd: true
    softWrapAtPreferredLineLength: true
    showInvisibles: true
  "git-diff":
    showIconsInEditorGutter: true
  "git-history": {}
  "git-log": {}
  "atom-color-highlight":
    markersAtEndOfLine: true
    hideMarkersInComments: true
    hideMarkersInStrings: true
